<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.filepicker.manager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ManagerTheme" >
        <activity android:name=".Manager" >

        </activity>

        <service
            android:name=".services.ManagerService"
            android:exported="false" >
        </service>

        <activity
            android:name=".ShareActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".getcontent.GetContentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ManagerProvider"
            android:authorities="io.filepicker.manager.data"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.filepicker.manager.files"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
